.normal {
  text-align: center;
  background-color: transparent;

  :global {
    .ant-table-row-expand-icon {
      background-color: #404b88;
      border: 1px solid #3e3e6a;
      border-radius: 25%;
      color: white;
    }

    .ant-table-row-collapsed::after {
      line-height: 15px;
    }

    .table {
      .ant-select {
        color: white;
      }

      .ant-select-selection {
        background-color: #1f2046;
        border-color: #454767;
      }

      .ant-select-arrow .ant-select-arrow-icon svg {
        color: white;
      }

      .ant-table-wrapper {
        margin-bottom: 8px;
      }
    }

    .title {
      border-top: none;
    }

    .ant-table-expanded-row>td:nth-of-type(2) {
      padding: 0px;
    }

    /* .ant-table-expanded-row > td:first-child {
      display: none;
    }
    .ant-table-expanded-row > td:nth-of-type(2) {
      background-color: rgba(32, 34, 78, 1);
      padding: 0px;
    } */
  }
}


h1 {
  color: white;
  font-family: Roboto Consensed;
}

.title5 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-family: PingFangSC-Medium;
}

.yellowButton {
  background: #FDC44E;
  color: #1E1607;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.guess-button {
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
  width: 140px;
  margin-top: 36px;
  border: none;
}

.detailList {
  list-style: none;
}

.expandedTable {
  margin: auto !important;
  // background-color: rgba(32, 34, 78, 1);
  background-color: rgba(255, 255, 255, 0);
  ;
  border: 1px solid rgba(97, 99, 110, 0);
  border-radius: 2px;
  position: relative;

  :global {

    .ant-table {
      border: none;
    }

    .ant-table tr {
      // background-color: rgba(32, 34, 78, 1);
      background-color: #1f2146;
    }


    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
    }

    .ant-table-tbody>tr:last-child>td {
      border-bottom: none !important;
    }

    .ant-table-tbody>tr:only-child>td {
      margin: 10px 0px;
    }

    .ant-table table .ant-table-thead>tr>th {
      color: white;
    }

    .ant-table table .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
      background-color: #2d2f5c !important;
    }
  }
}

.searchAddress {
  margin: auto;
  float: right;
  margin-right: 20px;

  :global {
    .ant-input {
      display: inline-block;
      background: rgba(48, 49, 71, 1);
      border: none;
      color: white;
    }

    .ant-input-wrapper {
      margin: 0px;
    }

    .ant-input-group .ant-input {
      position: relative;
      top: 13px;
      right: 36px;
    }

    .ant-input-group-addon {
      background: rgba(255, 255, 255, 0);
    }

    .ant-btn-primary {
      background-color: #2f3f98;
      border-color: #2f3f98;

      &:hover {
        background-color: #3F51B5;
        border-color: #3F51B5;
      }
    }

    /* .ant-btn-primary {
      background: linear-gradient(90deg,rgba(65,78,221,1) 0%,rgba(41,48,124,1) 100%);
    } */
  }
}

@media screen and (max-width: 767px) {
  .normal {
    :global {
      .title {
        height: unset;
        padding: 0px 10px;

        img {
          position: relative;
        }

        &>span:nth-child(2) {
          margin: 0px;
        }
      }

      .title span {
        line-height: unset;
      }

      .table {
        margin: 0px 3vw;
      }

      .ant-table table {
        &>tbody>tr>td:nth-child(2) {
          max-width: 20vw;
          word-break: break-all;
        }
      }
    }

    .searchAddress {
      width: 80vw !important;
      float: none;
      margin-left: 7vw;
      margin-top: 8px;
      margin-bottom: 8px;

      :global {
        .ant-input-group .ant-input {
          position: relative;
          top: unset;
          right: unset;
        }

        .anticon-close-circle {
          color: white;
        }
      }
    }
  }
}