@font-face {
    font-family: 'UnidreamLED';
    src: url('../static/fonts/UnidreamLED.ttf');
}

.layout {
    width: 1200px;
    overflow: auto;
    margin: auto;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 6px;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: relative;
}

.logo {
    font-size: 28px;
    color: #fff;
    position: absolute;
    left: 14px;
}

.title {
    // width: 200px;
    text-align: left;
    height: 14px;
    font-size: 18px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 15px;
    margin: 7px;
    position: absolute;
    left: 24px;
}

.howToPlay {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 14px;
    padding: 0px 16px;
    margin-right: 6px;
    cursor: pointer;

    &:hover {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
    }
}

.mainContainer {
    // width: 1200px;
    // overflow: auto;
    // margin: auto;

    .top {
        width: 100%;
        height: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        background: linear-gradient(69deg, rgba(25, 35, 84, 1) 0%, rgba(49, 62, 129, 1) 100%);
        border-radius: 4px;

        .block1 {
            flex: 1;
            background: linear-gradient(69deg, rgb(41, 30, 85) 0%, rgb(21, 35, 109) 100%);

            .leftPart {
                height: 100%;
                background-image: url('../static/images/bg1.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                :global(p) {
                    margin: 0px;
                    font-size: 30px;
                    font-family: Roboto Condensed;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 1);
                    line-height: 39px;
                    text-shadow: 0px 3px 20px rgba(0, 0, 0, 0.47);
                    -webkit-text-stroke: 5px undefined;
                }

                .slogan {
                    color: white;
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    margin: auto;
                    position: absolute;
                    top: -14%;
                    bottom: 0px;
                    left: -24%;
                    right: 0px;
                    width: 8em;
                    height: 100px;
                    overflow: visible;
                    text-shadow: 0px 0px 8px #0d00ff;
                }

                .rafflePanel {
                    width: 250px;
                    height: 46px;
                    background-image: url('../static/images/bar.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin: auto;
                    position: absolute;
                    left: -26%;
                    right: 0;
                    bottom: 60px;
                    display: flex;
                    justify-content: center;
                    padding: 5px 0px;

                    .raffleNumber {
                        width: 36px;
                        height: 36px;
                        font-size: 24px;
                        line-height: 36px;
                        display: inline-block;
                        margin: 0px 6px;
                        background-image: url('../static/images/circle3.png');
                        background-size: cover;
                        text-align: center;
                        font-size: 24px;
                        font-family: Roboto Condensed;
                        font-weight: bold;
                        color: rgba(255, 255, 255, 1);
                        text-shadow: 0px 0px 10px #008eff;
                    }
                }

                .raffleTip {
                    margin: auto;
                    position: absolute;
                    left: -26%;
                    right: 0;
                    bottom: 32px;
                    text-align: center;
                    font-size: 12px;
                    font-family: Roboto Condensed;
                    font-weight: bold;
                    color: rgba(234, 203, 90, 1);
                    line-height: 24px;
                }
            }

            .rightPart {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-top: 0px;
                background-image: url('../static/images/bg2.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;

                .totalPool {
                    background-image: url('../static/images/panel1.png');
                    width: 100%;
                    height: 110px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left;
                    padding-left: 40px;
                    margin-bottom: 20px;
                }

                .totalPoolValue {
                    color: rgba(169, 239, 252, 1);
                    height: 50px;
                    line-height: 50px;

                    :global {
                        img {
                            width: 18px;
                            height: 21px;
                            line-height: 50px;
                            vertical-align: baseline;
                            margin-right: 14px;
                        }
                    }
                }

                .prizePool {
                    background-image: url('../static/images/panel2.png');
                    width: 100%;
                    height: 110px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left;
                    padding-left: 40px;
                    margin-bottom: 20px;
                }

                .prizePoolValue {
                    color: rgba(255, 210, 89, 1);
                    height: 50px;
                    line-height: 50px;

                    :global {
                        img {
                            width: 22px;
                            height: 21px;
                            line-height: 50px;
                            vertical-align: baseline;
                            margin-right: 14px;
                        }
                    }
                }

                .label1 {
                    font-size: 18px;
                    font-family: Roboto Condensed;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 1);
                    line-height: 40px;
                    height: 45px !important;
                }

                .label2 {
                    font-size: 18px;
                    font-family: Roboto Condensed;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 1);
                    line-height: 40px;
                    height: 40px !important;
                }

                .value {
                    :global {
                        span:nth-of-type(1) {
                            font-size: 36px;
                            font-family: UniDreamLED;
                            font-weight: 400;
                            line-height: 50px;
                            letter-spacing: 1px;
                        }

                        span:nth-of-type(2) {
                            font-size: 16px;
                            line-height: 50px;
                            margin-left: 10px;
                            vertical-align: super;
                        }
                    }
                }

                .drawTime {
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.6);
                    line-height: 19px;
                    padding-left: 10px;
                    margin-top: 20px;
                    margin-bottom: 6px;

                    :global(span) {
                        color: rgba(255, 210, 89, 1)
                    }
                }

                .drawClose {
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 19px;
                    opacity: 0.5;
                    padding-left: 10px;
                }

                .timer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 10px;

                    .timeLeft {
                        display: inline-block;

                        .timeValue {
                            width: 56px;
                            height: 66px;
                            background-image: url('../static/images/square_bg.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            font-size: 30px;
                            font-family: Roboto Condensed;
                            font-weight: bold;
                            color: rgba(255, 255, 255, 1);
                            text-align: center;
                            padding-top: 18px;
                        }

                        .timeUnit {
                            font-size: 14px;
                            font-family: Roboto Condensed;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 0.5);
                            text-align: center;
                            margin-top: 2px;
                        }
                    }

                    .colon {
                        width: 5px;
                        height: 30px;
                        display: inline-block;
                        background-image: url('../static/images/colon.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: 0px 10px 0px 10px;
                        
                    }
                }

                .openTip {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.8);
                    line-height: 19px;
                    padding-left: 10px;
                    // margin-top: 20px;
                    margin-bottom: 6px;
                    margin-left: 10px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.26);
                }
            }
        }
    }
}

.mainTab {
    :global {
        .ant-tabs-nav-scroll {
            text-align: center;
        }

        .ant-tabs {
            color: rgba(255, 255, 255, 0.3);
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            color: white;
        }

        .ant-tabs-bar {
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        }

        .ant-tabs-ink-bar {
            background: rgba(65, 78, 221, 1);
        }

        .ant-tabs-nav-wrap {
            .ant-tabs-tab {
                min-width: 150px;
            }
        }
    }
}

.gameRule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0px 140px 0px;

    .ruleTitle {
        max-width: 1000px;
        font-size: 24px;
        font-family: Roboto Condensed;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 60px;
        line-height: 24px;
    }

    .ruleContents {
        max-width: 1000px;
        text-align: left;
        line-height: 1.5;
        font-size: 16px;
        font-family: Roboto Condensed;
        color: rgba(0, 98, 231, 1);

        li {
            margin-bottom: 22px;
        }
    }

    .text {
        color: rgba(188, 190, 221, 1);
    }
}