
.normal {
  text-align: center;
  background-color: transparent;
}

.table {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2b2564;
}

h1 {
  color: white;
  font-family: Roboto Consensed;
}

.title5 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-family: PingFangSC-Medium;
}

.yellowButton {
  background: #FDC44E;
  color: #1E1607;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.guess-button {
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  width: 140px;
  margin-top:36px;
}
